__pycache__/
*.py[cod]

.venv/
venv/
env/

.vscode/
.idea/

uploads/*
known_faces/*

*.db
*.db-journal

*.log

.env
.env.*

.DS_Store
Thumbs.db
!.env.example
node_modules/
firebase-service-account.json